.top-bar {
height: 35px;
background: #000;
color: #FFF;
position: absolute;
left: 0;
top: 0;
right: 0;
z-index: 1;
width: 100%;
box-shadow: 0 0 40px rgba(0,0,0,0.3);
}
.top-bar .top-logo {
margin: 6px 0 0 30px;
width: 85px;
height: 23px;
float: left;
_display: inline;
}
.top-bar .login a{
float: right;
line-height: 35px;
padding-right: 30px;
box-shadow: 0 0 40px rgba(0,0,0,0.3);
color: #FFF;
text-decoration:none;
}
.index-cover {
height: 385px;
background: #CCC no-repeat center;
position: relative;
overflow: hidden;
width: 100%;
}
element.style {
display: block;
width: 1600px;
height: 385px;
margin-left: -800px;
margin-top: 0px;
}
.index-cover .index-banner {
position: absolute;
left: 50%;
top: 0;
margin: 0 0 0 -800px;
min-width: 1600px;
width: 100%;
height: 385px;
display: block;
}
html {
font: 12px/1.5 Helvetica,Arial,sans-serif;
}

body {
	margin: 0px;
	padding: 0px;
	font: 12px/1.6 "微软雅黑", Tahoma, Geneva, sans-serif;
	color: #666;
	background: #f1f1ef;
}
.xkhd_body{
z-index: 2;
width: 960px;
position: relative;
top: 320px;
bottom: 0;
left: 50%;
margin-left: -460px;
height: 52px;
padding:24px 40px 24px 40px;
}
div {
	display: block;
}
.xkhd_dh_xg_1 {
	width:960px;
	height: 51px;
	margin:auto;
}
.xkhd_dh_xg_1_left {
	float: left;
	padding-right: 1px;
}
.xkhd_dh_xg_1_left ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size:16px;
}
.xkhd_dh_xg_1_left li {
	float: left;
	padding-left: 1px;
}
.xkhd_dh_xg_1_left a {
	display: block;
	padding: 0px 27px;
	height: 51px;
	line-height: 50px;
	color: #fff;
	font-size: 16px;
	_float: left;
	text-decoration:none;
}
.xkhd_dh_xg_1_left a.over {
	color: #fff;
}
.xkhd_dh_xg_1_right {
	float: right;
	padding-top: 14px;
	padding-right: 32px;
}
.index-content-left {
	width:100px;
	border: 5px solid #dbd9d9;
	background: url(http://hd.xunkoo.com/images/index_nav.gif) no-repeat;
	margin-top:50px;
	float:left;
}
.index-content-left a:link {
text-decoration: none;
line-height: 44px;
_padding-left: 30px;
}
.index-nav {
	padding-left: 32px;
}
.content-right {
	float: right;
	margin-top:50px;
	margin-right:60px;
}
.content-right-left {
	float: left;
	width:560px;
	margin-right: 20px;
}
.activity-attibute {
	border: 5px solid #dbd9d9;
	background: #fff;
	padding: 18px;
}
.activity-info-body {
	border: 5px solid #dbd9d9;
	background: #fff;
	margin-top:20px;
	margin-bottom:30px;
	height:auto;
}
.activity-info-simple {
	padding: 18px 18px 18px 18px;
	border-bottom: 1px solid #f0efef;
	height:100px;
}
.content-right-right {
	width: 180px;
	border: 5px solid #dbd9d9;
	background: #fff;
	float:right;
}
.activity-info-simple-photo {
	float:left;
	margin-right: 18px;
}
img {
	height: 100px;
	width: 100px;
}
.activity-info-simple-content {
	float:left;
	width:325px;
}
.activity-info-simple-title{
	margin:-14px 0 -14px 0;
}
.activity-info-simple-time {
	margin:0 0 -14px 0;
}
.activity-info-simple-belong {
	margin:0 0 -14px 0;
}
.activity-info-simple-place {
	margin:0 0 -14px 0;
}
.activity-info-simple-attention {
	margin:0 0 -14px 0;
}
#search-key {
	color:#F00;
	}
	.next-page {
	float:right;
	padding:10px;
}
.activity-info-bottom {
	height:35px;
}